/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: cabri;
    color: whitesmoke;
}

h1 {
    font-size: 1.5;
    color: blue;
}

h2 {
    font-size: 1em;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 940;
}

header, footer, footer a {
    text-align: center;
    background-color: silver;
    color: whitesmoke;
}

header img {
    width: auto;
    height: auto;
    float: right;
}

footer {
    font-size: .5em;
}

smaller {
    font-size: .25em;
}